doctype html
html
    head
        title= title
        script(src="/js/script.js")
        link(rel="stylesheet", href="/css/style.css")
    body 
        include partials/header
        p DEBUG: Block content should appear below
        block content
        p DEBUG: Block content should appear above